<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mock Web Server</title>
    <style>
        body { font-family: "Ubuntu", monospace; text-align: center }
        div.login-form { margin:auto; width:300px; border:1px solid #ececec; padding:10px;text-align: left;font-size:13px;}
        div.login-form div input { margin-bottom:7px;}
        div.login-form input { width:280px;}
        div.login-form div:last-child { text-align: center; }
        div.login-form div:last-child input { width:100px;}
    </style>
</head>
<body>
    <h2>Mock Web Service</h2>
    <h3>Login Form</h3>
    <form method="post" action="/login">
        <div class="login-form">
            <div>Username:</div>
            <div><input name="username"></div>
            <div>Password:</div>
            <div><input name="password"></div>
            <div><input name="ur-token" value="a" type="hidden"></div>
            <div><input type="submit" value="Login"></div>
        </div>
    </form>
</body>
</html>

<!--
# Reference
- https://tryhackme.com/room/phishingyl
- https://www.w3schools.com/tags/att_input_type_hidden.asp

# Line Count
- Total:      29
- Reused:     25
- Written:    3
- Referenced: 1
-->

