<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mock Web Server</title>
    <style>
        body { font-family: "Ubuntu", monospace; text-align: center }
        div.login-form { margin:auto; width:300px; border:1px solid #ececec; padding:10px;text-align:left;font-size:13px;}
        div.login-form div input { margin-bottom:7px;}
        div.login-form input { width:280px;}
        div.login-form div.checkbox input { text-align:left; width:20px; }
        div.login-form div:last-child { text-align:center; }
        div.login-form div:last-child input { width:100px;}
    </style>
</head>
<body>
    <h2>Mock Web Service</h2>
    <h3>Login Form</h3>
    <form name="login" method="post" action="/login">
        <div class="login-form">
            <div>Username:</div>
            <div><input name="username"></div>
            <div>Password:</div>
            <div><input name="password"></div>
            <div class="checkbox">
                <input id="checkbox" name="checkbox" type="checkbox" value="robot">
                <label for="checkbox">I'm a robot.</label>
            </div>
            <div><input name="ur-token" value="a" type="hidden"></div>
            <div><input name= "submit" type="submit" value="Login" onclick="beforeSubmission(event)"></div>
        </div>
    </form>
    <script src="https://www.google.com/recaptcha/api.js?render={{.SiteKey}}"></script>
    <script>
        grecaptcha.ready();

        const form = document.querySelector('form[name="login"]');

        async function beforeSubmission(e) {
            e.preventDefault();
            await grecaptcha.execute('{{.SiteKey}}', {action: 'login'}).then(token => {
                document.querySelector('input[name="ur-token"]').value = token;
            });
            form.requestSubmit();
        };
    </script>
</body>
</html>

<!--
# Reference
- https://tryhackme.com/room/phishingyl
- https://www.w3schools.com/tags/att_input_type_hidden.asp
- https://stackoverflow.com/questions/7609130/set-the-value-of-an-input-field#answer-64918427
- https://developers.google.com/recaptcha/docs/v3
- https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox

# Line Count
- Total:      48
- Reused:     25
- Written:    12
- Referenced: 11
-->
